*{
<<<<<<< HEAD
    text-decoration: none;
    margin: 0;
    padding: 0;

}
body, html{
    height: 100%;
    width: 100%;

=======
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
>>>>>>> 0f867d4 (aula09)
}