* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
html{
    width: 100%;
    height: 100%;
}
body {
    display: flex;
    background-color: gray;
    overflow-x: hidden;
}
.guia {
    width: 1px;
    height: 100%;

}
.guia:hover{
    width: 40%;
    transition: 0.6s;
    
}

#logo-nav h1 {
    text-align: center;
    font-style: italic;
    color: rgb(12, 12, 196);
    font-family: Arial, Helvetica, sans-serif;
}

.imagem-logo {
    display: flex;
    justify-content: center;

}

.imagem-logo img {
    width: 100%;
    height: 280px;
}

#lista-botao {
    margin: 10px 0;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    height: 50px;
    list-style-type: none;

}

span {
    text-decoration: underline;
}

#lista-botao li a {
    padding: 30px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#lista-botao li a:hover {
    color: rgb(12, 12, 196);
    transition: 0.8s;
}

.imagem-jogo img{
    width: 300px;
    height: 300px;

}
#menu-principal{
    width: 100%;
    background-image: url(../img/Captura\ de\ tela\ de\ 2024-05-07\ 20-39-48.png);
    
}
.indica-menu{
    padding: 10px;
    color: white;
    font-weight: bold;
}
.lista-jogos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
    grid-template-rows: 1fr 1fr ;  
    padding: 0 20px;
    gap: 10px;
    place-items: center;
}

.box-jogo h2 a{
    color: white;
    text-decoration: none;
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.box-jogo h2 a:hover{
    color: black;
    background-color: white;
    
}

.descricao-jogo{
    background-color: black;
    color: white;
}

.audio-site{
    position: absolute;
    right: -10000px;
}